
/* 
    Author: Aditika Singh
    Theme : Bakery management

*/
/* css for all */
*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}
.img-responsive{
    width: 100%;
}
.img-curve{
    border-radius: 15px;
}

.container{
    
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}
.text-right{
    text-align:right;
}

.text-center{
    text-align: center;
}


.clearfix{
    clear: both;
    float: none;
}
a{
    color: #2ecc71 ;
    text-decoration: none;
}

a:hover{
    color: #16a085;
}

/* search button ko lagi */
.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}

/* search button ko lagi */
.btn-primary{
    background-color: red;
    color: white;
    cursor: pointer;
}

.btn-primary:hover{
    color: white;
    
    background-color: #ff4757;
}


/* cake donut ko lagi */
.float-container{
    position: relative;
    color: #B33771;
}

/* .float-text{ 
    position: absolute;
     bottom: 50px;
    left: 40%;
} */


/* for category */
h2{
    color: #B33771;
    font-size: 2rem;
    margin-bottom: 2%;
}
h3{
    font-size: 1.5rem;
}



/* css for navbar */
.logo{
    
    width: 20%;
    float: left;
}

/* menu : for home about contact */
.menu{
    line-height: 70px;
}

.menu ul{
    list-style: none ;
}

.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}



/* css for food search section */
.Food-search{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    padding: 7% 0;
}

.Food-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;

}

/* css for category*/
.categories{
    padding: 4% 0;
}

.box-3{
    width: 28%;
    float: left;
    margin: 2%;
}

/* css for food meny */
.food-menu{
    background-color: #FFA9CE;
    padding: 4% 0;
}
.food-menu-box{
    
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
    


}
.food-menu-img{
    width: 20%;
    float: left;
}

.food-menu-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
}




.food-price{
    font-size: 1.2rem;
    margin: 2% 0;
}
.food-detail{
    font-size: 1rem;
    color: #747d8c;
}

.social ul{
    list-style-type: none;
}
.social ul li{
    display: inline;
    padding: 1%;
}

/* for Order Section */
.order{
    width: 50%;
    margin: 0 auto;
}
.input-responsive{
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}
.order-label{
    margin-bottom: 1%; 
    font-weight: bold;
}

